<header class="bg-green-600 p-4">
    <div class="container mx-auto flex justify-between items-center text-white">
        <div class="text-xl font-bold">
            SIRASO Bussiness Center
        </div>
        <nav class="flex items-center space-x-4">
            <a href="/home" class="hover:text-gray-200">Home</a>
            <a href="#" class="hover:text-gray-200">About</a>
            <a href="/keranjang" class="hover:text-gray-200">Pesanan saya</a>
        </nav>
    </div>
</header>

