 <!-- Sidebar -->
  <aside class="w-1/5 bg-green-900 text-white flex flex-col p-6 space-y-6">
    <h1 class="text-lg font-semibold">Nama tempat..</h1>
    <nav class="flex flex-col space-y-2">
      <a href="#" class="flex items-center space-x-2 hover:bg-green-800 p-2 rounded transition">
        <i class="fas fa-home"></i><span>Dashboard penjual</span>
      </a>
      <a href="/penjual/kelolamenu"
   class="<%= 'flex items-center space-x-2 p-2 rounded transition ' + 
    (activePage === 'kelolamenu' ? 'bg-white text-green-900' : 'hover:bg-green-800') %>">
  <i class="<%= 'fas fa-utensils ' + (activePage === 'kelolamenu' ? 'text-green-900' : 'text-white') %>"></i>
  <span>Kelola Menu</span>
</a>

      <a href="#" class="flex items-center space-x-2 hover:bg-green-800 p-2 rounded transition">
        <i class="fas fa-chart-bar"></i><span>Laporan</span>
      </a>
     <a href="/penjual/pesanan"
   class="<%= 'flex items-center space-x-2 p-2 rounded transition ' + 
    (activePage === 'pesanan' ? 'bg-white text-green-900' : 'hover:bg-green-800') %>">
  <i class="<%= 'fas fa-receipt ' + (activePage === 'pesanan' ? 'text-green-900' : 'text-white') %>"></i>
  <span>Pesanan</span>
</a>
      <a href="#" class="flex items-center space-x-2 hover:bg-green-800 p-2 rounded transition">
        <i class="fas fa-cog"></i><span>Setting</span>
      </a>
    </nav>
  </aside>