<div class="w-full lg:w-1/10 p-4 bg-white shadow-md rounded-lg border border-gray-200">
  <h3 class="font-semibold text-xl mb-4 text-center text-green-700 border-b pb-2">Daftar Cafe</h3>
  <ul class="space-y-3">
    <li>
      <a href="/toko/:toko_id" class="cafe-link block px-4 py-2 rounded-md transition-all hover:bg-green-50 hover:text-green-700 border-l-4 border-transparent hover:border-green-500"
         data-cafe-id="1" data-cafe-name="Bungo Jaya Cafe">
        Bungo Jaya Cafe
      </a>
    </li>
    <li>
      <a href="menu" class="cafe-link block px-4 py-2 rounded-md transition-all hover:bg-green-50 hover:text-green-700 border-l-4 border-transparent hover:border-green-500"
         data-cafe-id="2" data-cafe-name="Khanza Cafe">
        Khanza Cafe
      </a>
    </li>
    <li>
      <a href="menu" class="cafe-link block px-4 py-2 rounded-md transition-all hover:bg-green-50 hover:text-green-700 border-l-4 border-transparent hover:border-green-500"
         data-cafe-id="3" data-cafe-name="Nabil Cafe">
        Nabil Cafe
      </a>
    </li>
    <li>
      <a href="#" class="cafe-link block px-4 py-2 rounded-md transition-all hover:bg-green-50 hover:text-green-700 border-l-4 border-transparent hover:border-green-500"
         data-cafe-id="4" data-cafe-name="Yuki Cafe">
        Yuki Cafe
      </a>
    </li>
    <li>
      <a href="#" class="cafe-link block px-4 py-2 rounded-md transition-all hover:bg-green-50 hover:text-green-700 border-l-4 border-transparent hover:border-green-500"
         data-cafe-id="5" data-cafe-name="Badaso Cafe">
        Badaso Cafe
      </a>
    </li>
    <li>
      <a href="#" class="cafe-link block px-4 py-2 rounded-md transition-all hover:bg-green-50 hover:text-green-700 border-l-4 border-transparent hover:border-green-500"
         data-cafe-id="6" data-cafe-name="Raudha Cafe">
        Raudha Cafe
      </a>
    </li>
  </ul>
  
  
</div>